<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ appTitle }}</title>
    <link rel="stylesheet" href="/login/style.css" />
</head>

<body>
    <form action="/login" enctype="application/x-www-form-urlencoded" method="POST">
        <fieldset>
            <legend>Login</legend>

            <div class="formField">
                <div>
                    <label>{{ loginLabel }}</label>
                </div>
                <div>
                    <input name="login" type="text" />
                </div>
            </div>

            <div class="formField">
                <div>
                    <label>{{ passwordLabel }}</label>
                </div>
                <div>
                    <input name="password" type="password" />
                </div>
            </div>

            {{#if errorMessage}}
            <p class="errorMessage">{{ errorMessage }}</p>
            {{/if}}

            <div class="formField buttonGroup">
                <input class="submit" type="submit" value="{{ submitLabel }}" />
                <a href="#">Forgot password?</a>
                <a href="#">Registration</a>
            </div>
        </fieldset>
    </form>
</body>

<script>
    (function () {
        const state = {
            login: false,
            password: false
        }

        const button = document.querySelector('input.submit');
        const ACTIVE_CLASS = 'active';
        const inputs = document.querySelectorAll('input');

        const checkInput = (evt) => {
            const input = evt.currentTarget;

            state[input.name] = input.value.length > 3;

            if (state.login && state.password) {
                !button.classList.contains(ACTIVE_CLASS) && button.classList.add(ACTIVE_CLASS);
                button.setAttribute('disabled', false);
            } else {
                button.classList.remove(ACTIVE_CLASS);
                button.setAttribute('disabled', true);
            }
        };

        inputs.forEach(el => {
            el.addEventListener('keydown', checkInput)
        });

        window.close = window.removeEventListener('keydown', checkInput);
    })();
</script>

</html>